body, html {
  font-family: "ABeeZee", sans-serif;
  font-size: 20px;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  display: flex;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
  margin-top: none;
  padding-top: none;
}

/** {
  border: 1px solid magenta;
}*/

.binAndBoxes {
  display: flex;
  justify-content: center;
  font-family: "ABeeZee", sans-serif;
}

.binDiv {
  display: flex;
  justify-content: center;
}

.navDiv {
  margin-right: 4rem;
}

.nav {
  padding: 1rem 3rem 3rem 3rem;
  border: 1px solid #6115fb;
  border-radius: 20px;
  background-color: #6115fb;
  color: whitesmoke;
  margin: 0;
}

.nav li {
  background-color: whitesmoke;
  padding: .8rem .4rem;
  margin: .5rem 0;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  color: #6115fb;
}

.nav li a {
  color: #6115fb;
  text-decoration: none;
}

.fa-play {
  font-size: 80px;
  margin: 1.3rem 0;
}
