body, html {
  font-family: "ABeeZee", sans-serif;
  font-size: 20px;
}

.App {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
}

/** {
  border: 1px solid magenta;
}*/

.binAndBoxes {
  display: flex;
  justify-content: center;
  font-family: "ABeeZee", sans-serif;
}

.binDiv {
  display: flex;
  justify-content: center;
}

.navDiv {
  margin-right: 4rem;
}

.nav {
  padding: 3rem 3rem 5rem 3rem;
  border: 1px solid rebeccapurple;
  border-radius: 20px;
  background-color: rebeccapurple;
  color: whitesmoke;
}

.nav li {
  background-color: #1560FB;
  padding: 1rem .5rem;
  margin: .5rem 0;
  border: 1px solid #1560FB;
  border-radius: 50px;
}

.nav li a {
  color: whitesmoke;
  text-decoration: none;
}
