body, html {
  font-family: "ABeeZee", sans-serif;
}

.App {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
}

/** {
  border: 1px solid magenta;
}*/

.binAndBoxes {
  display: flex;
  justify-content: center;
  font-family: "ABeeZee", sans-serif;
}

.binDiv {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
